
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Please give your name:</p>
    <form action="/procesa/juego" class="formulario" method="POST">
        <input name="Nombre" type="text">
        <div class="boton">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
